<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Pizza</title>
  <div th:replace="~{fragments/resources :: head}"></div>
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="container">
    <h1>Modifica di un'offerta</h1>
    <h2>
      <form id="pizza-form" th:action="@{/offers/edit/{id}(id=${offer.id})}" method="post" th:object="${offer}">
        <input type="hidden" th:field="*{pizza.id}" id="linked-pizza">
        <div class="mb-3">
          <label class="form-label" for="title">titolo: </label>
          <input class="form-control" type="text" id="title" th:field="*{title}" th:errorClass="is-invalid" />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
            <ul>
              <li th:each="error : ${#fields.errors('title')}" th:text="${error}" />
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="startDate">data d'inizio: </label>
          <input class="form-control" type="date" id="startDate" th:field="*{startDate}" th:errorClass="is-invalid" />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
            <ul>
              <li th:each="error : ${#fields.errors('startDate')}" th:text="${error}" />
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="endDate">Data di fine: </label>
          <input class="form-control" type="date" id="endDate" th:field="*{endDate}" th:errorClass="is-invalid" />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
            <ul>
              <li th:each="error : ${#fields.errors('endDate')}" th:text="${error}" />
            </ul>
          </div>
        </div>

        <div class="mb-3 d-flex justify-content-between">
          <input type="submit" value="Invia" class="btn btn-primary" />
          <input type="reset" value="Cancella" class="btn btn-warning" />
        </div>
      </form>
    </h2>
  </div>

  <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>